<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--新增-->
<mapper namespace="com.example.mapper.FlowUpdateMapper">
    <!-- 插入用户 -->
    <update id="flowUpdateMapper" parameterType="String">
        update flowInfo set flowInfo = #{flowAddProcessBeanString}, uptTime = #{uptTime} where relaId = #{relaId}
    </update>
</mapper>
