<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--新增-->
<mapper namespace="com.example.mapper.NodeInfoAddMapper">
<!-- 插入用户 -->
<insert id="nodeInfoAddMapper" parameterType="String">
    INSERT INTO nodeInfo (nodeInfo, relaId) VALUES ( #{nodeInfo}, #{relaId})
</insert>
</mapper>