<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mapper.SearchFlowByRelaIdMapper">
    <select id="searchFlowByRelaIdFlowInfoMapper" parameterType="String" resultType="com.example.bean.FlowInfoTable">
        SELECT flowInfo FROM flowInfo WHERE relaId = #{relaId}
    </select>
    <select id="searchFlowByRelaIdNodeInfoMapper" parameterType="String" resultType="com.example.bean.NodeInfoTable">
        SELECT nodeId,nodeInfo,crtTime,uptTime FROM nodeInfo WHERE relaId = #{relaId}
    </select>
    <select id="searchFlowByRelaIdSelfMapper" parameterType="String"
            resultType="com.example.bean.NodeSelfInfoTable">
        SELECT nodeSelfInfo FROM nodeSelfInfo WHERE relaId = #{relaId}
    </select>
</mapper>

